{% extends "mi_dulce/base.html" %}

{% block head %}
<meta name="description" content="">
  
<title>Dulceideas</title>

{% endblock %}

{% block content %}

<section class="extСontent cid-s5oKkGi5M0" id="extContent7-w">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 img-col">
                <img src="../static/assets/images/dulce-idea-1440x1440.png" alt="Dulce-idea" title="">
                <div class="mbr-section-btn pt-3"><a class="btn btn-lg btn-secondary display-4" href="../productos"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>Nuestros Productos</a></div>
            </div>
            <div class="col-lg-6 text-col align-left">
                <h3 class="mbr-section-subtitle mbr-regular pb-2 mbr-fonts-style display-7"><strong>Delicias para ti</strong></h3>
                <h1 class="mbr-section-title mbr-semibold pb-4 mbr-fonts-style display-2">Dulceideas</h1>
                <p class="mbr-text mbr-black mbr-regular mbr-light mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim quis mi eu tristique. Cras
                    et massa erat. Quisque tempus, dolor sit amet ultrices mattis, lectus tellus mattis eros, at
                    eleifend est tortor at eros. Fusce convallis consequat tortor quis blandit. Duis condimentum ex
                    convallis purus dapibus ultrices. Sed lorem urna, consectetur a tellus a, sodales fermentum diam.
                    <br><br> Donec nec rhoncus sem, nec fringilla felis. Vivamus odio neque, scelerisque laoreet leo ac,
                    elementum facilisis lectus. Donec odio ligula, sodales in velit in, bibendum pellentesque metus.</p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info1 cid-s5oMlOMdt1" id="info1-z">

    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">
                    Conoce nuestros productos</h3>
                <h2 class="align-left mbr-bold mbr-fonts-style display-2">Ver nuestros productos</h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-secondary display-4" href="../productos">VER PRODUCTOS</a></div>
            </div>
        </div>
    </div>
</section>


{% endblock %}